@using MyCompany.Service

<!DOCTYPE html>
<html>

<head>
    <title>@Config.CompanyName</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>

<body>
    <div class="sitename">
        <h2>Finances</h2>
    </div>
    <div class="row">
        <div class="column left">
            <h2>Опції</h2><br>
            <div class="options">
                @if (User.Identity.IsAuthenticated)
                {
                    if (Equals(User.Identity.Name, "admin"))
                    {
                        @Html.ActionLink("Панель адміністратора", "Index", "Home", new { area = "Admin" }, null)
                        <br>
                    }
                    <a href="#"> Мій профіль </a><br>
                    @Html.ActionLink("Керування записами", "Index", "Records")
                    <br>
                    @Html.ActionLink("Керування групами", "Index", "Family")
                    <br>
                    <a href="#"> Згенерувати звіт </a><br><br>
                    <p>@User.Identity.Name</p>

                    <form asp-area="" method="post" asp-controller="Account" asp-action="Logout">
                        <input type="submit" value="Вийти" />
                    </form>
                }
                else
                {
                    @Html.ActionLink("Вхід", "Login", "Account")<br>
                    @Html.ActionLink("Реєстрація", "Register", "Account")
                }
            </div>
        </div>
        <div class="column right">
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript" src="~/js/main.js"></script>
</body>

</html>

@if (IsSectionDefined("scripts"))
{
    RenderSection("scripts");
}