@using Finances.Domain.Entities;
@model IndexViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>EntityBase</h4>
<hr />
<div class="row">

    @using (Html.BeginForm("Create", "Records"))
    {
    <fieldset>
        <legend>Новий запис</legend>
        <input type="hidden" value="@ViewBag.Id" name="Id" />
        <p>
            Сума <br />
            @Html.EditorFor(model => model.EntityBase.Amount)
        </p>                                       

        <p>
            Дохід? <br />
            @Html.EditorFor(model => model.EntityBase.Direction)
        </p>

        <p>
            Категорія <br />
            <select name="Categories">
                @foreach (Categories c in Model.Categories)
                {
                    <option value="@c.Name">@c.Name</option>
                }
            </select>


        </p>

        <input type="hidden" value="@ViewBag.DateAdded;" name="DateAdded" />

        <p>
            <input type="submit" value="Додати" />
        </p>

    </fieldset>
    }
    <div>
        @Html.ActionLink("Назад", "Index")
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
