@model IEnumerable<Finances.Domain.Entities.EntityBase>

@{
    ViewData["Title"] = "Мої записи";
}

<h1>Мої записи</h1>
<p>
    @Html.ActionLink("Додати запис", "Create", "Records", null)
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Час
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if (!Equals(User.Identity.Name, item.TheUser))
            {
                continue;
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount) грн.
                </td>
                <td>
                    @if (item.Direction)
                    {
                        <p>Дохід</p>
                    }
                    else
                    {
                        <p>Витрати</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.ActionLink("Редагувати", "Edit", "Records", new { id = item.Id }, null) |
                    @Html.ActionLink("Деталі", "Details", "Records", new { id = item.Id }, null) |
                    @Html.ActionLink("Видалити", "Delete", "Records", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
