@model Finances.Domain.Entities.Family

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Деталі групи</h1>

<div class="row">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyUser)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.FamilyUser)
            {
            <a asp-controller="Profile" asp-action="Index" asp-route-userName="@item.User.UserName">
                @Html.DisplayFor(modelItem => item.User.UserName)
            </a><br>
            }
        </dd>
    </dl>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
</div>
