@model Finances.Domain.Entities.Family

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h3 class="mr-2">Редагувати групу @Model.Name</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label><br>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-dark" />
            </div>
        </form>
        <form asp-controller="Family" asp-action="AddUser" method="get" class="form-group">
            <div class="form-group">
                <label class="control-label">Додати користувача</label>
                <input type="hidden" asp-for="Id" name="FamilyId" />
                <input type="text" name="SearchString" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Пошук" class="btn btn-dark" />
            </div>
        </form>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Користувачі:
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FamilyUser)
                {
                    <tr>
                        <th>
                            <a asp-controller="Profile" asp-action="Index" asp-route-userName="@item.User.UserName">
                                @Html.DisplayFor(modelItem => item.User.UserName)
                            </a>
                        </th>
                        <th>
                            <form asp-action="DeleteUserFromFamily">
                                <input type="hidden" value="@item.UserId" name="userId" />
                                <input type="hidden" value="@item.FamilyId" name="familyId" />
                                <input type="submit" value="Видалити" class="btn btn-danger" />
                            </form>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
