@model IEnumerable<Finances.Domain.Entities.User>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper AuthoringTagHelpers.TagHelpers.EmailTagHelper, AuthoringTagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Користувачі</h1>
<form asp-controller="User" asp-action="Index" method="get">
    <p>Пошук:</p>
    <p>
        <input type="text" name="SearchString" />
        <input type="submit" value="Пошук" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Нікнейм
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-area="default" asp-controller="Profile" asp-action="Index" asp-route-userName="@item.UserName">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </a>
                </td>
                <td>
                    @Html.ActionLink("Редагувати", "Edit", "User", new { area = "Admin", id = item.Id }, null) |
                    @Html.ActionLink("Деталі", "Details", "User", new { area = "Admin", id = item.Id }, null) |
                    @Html.ActionLink("Видалити", "Delete", "User", new { area = "Admin", id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
