@model IEnumerable<Finances.Domain.Entities.Categories>

@{
    ViewData["Title"] = "Категорії";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Категорії</h1>

<p>
    @Html.ActionLink("Додати", "Create", "Categories", new { area = "Admin" }, null)
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Дохід/Витрати
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.Direction == true)
                {
                    <p>Дохід</p>
                }
                else
                {
                    <p>Витрати</p>
                }
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", "Categories", new { area = "Admin", id = item.Id }, null)|
                @Html.ActionLink("Видалити", "Delete", "Categories", new { area = "Admin", id = item.Id }, null)
            </td>
        </tr>
}
    </tbody>
</table>
